@model ProyectoFinalDesarrolloWeb.Models.LoteModel

@{
    ViewData["Title"] = "Editar";
}

<h1>Editar</h1>

<h4>Lote</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Editar">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Id" class="control-label"></label>
                <input asp-for="Id" class="form-control" readonly />
                <span asp-validation-for="Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="idProducto" class="control-label"></label>
                @* <input asp-for="idProducto" class="form-control" /> *@
                <select asp-for="idProducto" class="form-select" asp-items="@(new SelectList(ViewBag.Productos, "Value", "Text", ""))"></select>
                <span asp-validation-for="idProducto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="numeroLote" class="control-label"></label>
                <input asp-for="numeroLote" class="form-control" />
                <span asp-validation-for="numeroLote" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="fechaVence" class="control-label"></label>
                <input asp-for="fechaVence" class="form-control" />
                <span asp-validation-for="fechaVence" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group row g-2">
                <div class="col-auto">
                    <input type="submit" value="Guardar" class="btn btn-primary" />
                </div>
                <div class="col-auto">
                    <a asp-action="Index" class="btn btn-secondary">Regresar</a>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
